.anchor-contaniner{
    display: flex;
    justify-content: space-between;
    padding-bottom: 0px;
    padding-top: 0px;
}
.link-part {
  display: flex;
}

.link-part a{
  margin-left: 30px;
  font-size: 24px;
  text-decoration: none;
}
.log-link a{
   text-decoration: none;
   font-size: 24px;
   margin-left: 30px;
   margin-top: 30px;
}
.profile-component{
  height: 50px;
  widows: 100px;
  margin-left: 40px;
}
.active{
  border-bottom: 5px solid blueviolet;
}