.footer-section{
   display: flex;
   justify-content: space-between; 
   background-color: rgb(243, 167, 25);
   margin-top: 100px;
}
.footer-section div h2{
    font-family: cursive;
    text-align: center;
    font-weight: 600;
    font-size: 32px;
    color: black;
    margin-right: 400px;
    margin-top: 120px;
}
.footer-conatainer{
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 40px 70px;
}
.footer-conatainer a{
    margin-bottom:  20px;
    text-decoration: none;
    font-size: 24px;
}