.img-chef-div img{
  max-width: 250px;
  max-height: 170px;
  margin-left: 50px;
  margin-top: 20px;
  border-radius: 10px;
}
.chef-text{
  margin-left: 55px;
  margin-top: 20px;
}
.icon-part{
  display: flex;
  margin-top: 30px;
  margin-left: 5px;
}
 .icon-part p{
  margin-left: 30px;
} 
.eye-btn{
 font-size: 24px;
 margin-left: 50px;
 margin-right: 10px;
}
.chef{
    display: flex;
    flex-direction: column;
    border: 2px solid saddlebrown;
    width: 350px;
    border-radius: 10px ;
    margin-bottom: 25px;
}
.likes{
  margin-top: 20px;
  margin-bottom: 0;
  margin-left: 10px;
}  

/*mobile Responsive code is here */
@media only screen and (max-width: 600px) {
  .chef{
    display: flex;
    flex-direction: column;
    border: 2px solid saddlebrown;
    width: 350px;
    border-radius: 10px ;
    margin-bottom: 25px;
    margin-right: 20px;
}
}

